.movie-card {
  height: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2px;
  max-width: 100%;

}

.movie-card:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.movie-card img {
    max-width: 100%;
    border-radius: 10px;
    width: 150px;
    height: 250px;
}
