.movie-card {
  position: relative;
  height: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2px;
  max-width: 100%;
}

.movie-card:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.movie-card:hover .icon-container {
  display: flex;
}


.movie-card img {
  max-width: 100%;
  border-radius: 10px;
}
.icon-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  padding: 8px;
  border: 4px;
}


.heart:hover {
  color: red;
}

.video:hover {
  color: green;
}
