.movie-card {
  position: relative;
  height: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2px;
  max-width: 100%;
}

.movie-card:hover {
  background-color: lightgrey;
}

.movie-card:hover .icon-container {
  display: flex;
}

.movie-card img {
  max-width: 100%;
  border-radius: 10px;
}
.icon-container {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  flex-direction: column;
  gap: 8px;
}

.icon-button {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  transition: background-color 0.2s, color 0.2s;
  padding: 0px;
}

.icon-button svg {
  width: 16px;
  height: 16px;
  color: #606770;
}

.icon-button.favorite svg {
  color: #e0245e;
  fill: #e02453;
}

.icon-button.watched svg {
  color: #17bf63
}
