.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 16px;
  max-width: 100%
}
